<nav class="glass-nav navbar navbar-expand-lg fixed-top">
  <div class="container">
    <a class="navbar-brand text-white fw-bold" href="/">
      <img src="/logo.png" class="nav-logo me-2" /> Task Manager
    </a>

    <button class="navbar-toggler text-white" type="button" data-bs-toggle="collapse" data-bs-target="#navMenu">
      <i class="fas fa-bars"></i>
    </button>

    <div class="collapse navbar-collapse" id="navMenu">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a class="nav-link text-white" href="/">Home</a></li>
        <li class="nav-item"><a class="nav-link text-white" href="/tasks">Tasks</a></li>
        <li class="nav-item"><a class="nav-link text-white" href="/about">About</a></li>
        <li class="nav-item"><a class="nav-link text-white" href="/contact">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>
