<div class="container mt-5 text-center"> <!--centered container with margin top-->
    <h1>Message Sent!</h1>
    <p>Thank you <strong><%= name %></strong>, your message has been received.</p>

    
    <a href="/" class="btn btn-primary mt-3">Back to Home</a>
</div>
<!-- p>Thank you <strong><%= name %></strong> means that it will dynamically insert the name of the user who submitted the form -->